@tailwind base;
@tailwind components;
@tailwind utilities;
@import "wysiwyg.css";

html, body {
  scroll-behavior: smooth;
  height: 100%;
}

.custom-y-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-x-scroll::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: #90909090;
}